@page "/offers/{itemName}/{isSelling}"
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@using Common.Models; 
@using Common.Utilities; 

@if (offers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Item 1</th>
                <th>Quantity</th>
                <th>Item 2</th>
                <th>Quantity</th>
                <th>Offer By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in offers)
            {
            <tr>
                <td>@Definitions.GetItemNameFromItemId(offer.MainItemId)</td>
                <td>@offer.SellQuantity</td>
                <td>@Definitions.GetItemNameFromItemId(offer.SecondaryItemId)</td>
                <td>@offer.BuyQuantity</td>
                <td>@offer.OfferBy</td>
            </tr>
                <button @onclick="(_ => CopyToClipboard(offer))"></button>
            }
        </tbody>
    </table>
}

@code {
        [ParameterAttribute]
        public string itemName { get; set; }
        [ParameterAttribute]
        public string isSelling { get; set; }
    private List<Offer> offers;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(async () =>
        {
            while (true)
            {
                if (isSelling.Equals("True"))
                {
                    var response = await Http.PostAsJsonAsync("https://localhost:44330/Offer", new Request { ItemName = itemName, Selling = true });
                    offers = await response.Content.ReadFromJsonAsync<List<Offer>>();
                }
                else
                {
                    var response = await Http.PostAsJsonAsync("https://localhost:44330/Offer", new Request { ItemName = itemName, Selling = false });
                    offers = await response.Content.ReadFromJsonAsync<List<Offer>>();
                }
                await InvokeAsync(StateHasChanged);
                await Task.Delay(500);
            }
        }
        );
    }

    private async Task CopyToClipboard(Offer offer)
    {
        var message = $"/tell {offer.OfferBy} Hi, {offer.OfferBy}! I would like to buy {offer.SellQuantity} of your {Definitions.GetItemNameFromItemId(offer.MainItemId)} for {offer.BuyQuantity} of my {Definitions.GetItemNameFromItemId(offer.SecondaryItemId)}.";

        await jsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", message);
    }
}